*{
    border-radius: 20px;
    margin-top: 20px;
    margin: 20px;
   justify-content: center;
   
}

.h1{
    position: relative;

    height: 100px;
    width: 200px;
    left: 50%;
    position: absolute;
    top: 45%;
  
    transform: translate(-50%, -50%);
}

.formulario{
    position: relative;

    height: 100px;
    width: 200px;
    left: 50%;
    position: absolute;
    top: 45%;
  
    transform: translate(-50%, -50%);
  
}

.formulario_1{
    position: relative;

    height: 100px;
    width: 200px;
    left: 50%;
    position: absolute;
    top: 55%;
  
    transform: translate(-50%, -50%);
}

.formulario_2{
    position: relative;

    height: 100px;
    width: 200px;
    left: 50%;
    position: absolute;
    top: 65%;
  
    transform: translate(-50%, -50%);
}
.formulario_3{
    position: relative;

    height: 100px;
    width: 200px;
    left: 50%;
    position: absolute;
    top: 75%;
  
    transform: translate(-50%, -50%);
}

.formulario_4{
    position: relative;

    height: 100px;
    width: 200px;
    left: 50%;
    position: absolute;
    top: 85%;
  
    transform: translate(-50%, -50%);
}

