header {
    background-color: #FFF;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
  }
  
  header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }